.git*
.idea
.husky
.editorconfig

docs
vendor
node_modules

bootstrap/cache/*
public/build/*

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/phpstan
storage/rector
tests


.env
.env.ci
.env.dev
.env.example
docker-compose.yml
docker-compose.prod.dev.yml
docker-compose.prod.yml
.dockerignore

phpstan.neon
pint.json
README.md
rector.php
aliases.bash
phpunit.xml
